<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <h2>Login</h2>

    <input 
      type="email" 
      placeholder="Email"
      formControlName="email"
    />

    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      Email tidak valid
    </div>

    <input 
      type="password" 
      placeholder="Password"
      formControlName="password"
    />

    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text">
      Password minimal 6 karakter
    </div>

    <button type="submit" (click)="onSubmit()">Login</button>

  </form>
</div>