.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background: #f1f5f9;
}

.table th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
}

.table td {
  padding: 12px;
  border-top: 1px solid #eee;
}

.table tr:hover {
  background: #f9fafb;
}

button {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.btn-primary {
  background: #3b82f6;
  color: white;
}

.btn-primary:hover {
  background: #2563eb;
}

.btn-edit {
  background: #facc15;
  color: black;
  margin-right: 5px;
}

.btn-delete {
  background: #ef4444;
  color: white;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal-content h2 {
  margin-top: 0;
}
.modal-content label {
  display: block;
  margin-top: 10px;
}
.modal-content input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-content .preview-image {
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-content button {
  margin-top: 15px;
}
.modal-content .btn-primary {
  width: 100%;
} 

.modal-content .btn-primary:hover {
  background: #2563eb;
}

.modal-content .btn-secondary {
  background: #e5e7eb;
  color: black;
  width: 100%;
}
.modal-content .btn-secondary:hover {
  background: #d1d5db;
}

.action-cell {
  position: relative;
}

.dots-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 30px;

  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

  width: 120px;
  z-index: 999;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-item:hover {
  background: #f1f5f9;
}

.dropdown-item.delete {
  color: #ef4444;
}
